<div class="container">
  <div class="button-group">
    <button class="btn" (click)="downloadCurrencyRates()">Pobierz kursy walut</button>
  </div>
  <div>
    <h3 class="header">Wyświetl kursy walut</h3>
    <div class="button-group">
      <button class="btn" (click)="fetchCurrencyRatesByPeriod('year')">Roczne</button>
      <button class="btn" (click)="fetchCurrencyRatesByPeriod('quarter')">Kwartalne</button>
      <button class="btn" (click)="fetchCurrencyRatesByPeriod('month')">Miesięczne</button>
      <button class="btn" (click)="fetchCurrencyRatesByPeriod('day')">Dziennie</button>
    </div>
  </div>

  <div *ngIf="currencyRates" class="table-container">
    <table class="currency-table">
      <thead>
        <tr>
          <th>Okres</th>
          <th>Waluta</th>
          <th>Średni Kurs</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rate of currencyRates">
          <td>{{ rate.transformedPeriod }}</td>
          <td>{{ rate.code }}</td>
          <td>{{ rate.avg_value }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
